{% extends "base.html" %}
{% block title %}CRUD{% endblock %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hola mundo</title>
</head>
<h1>CLIENTES</h1>
        <nav>
            <div
                class="table-responsive"
            >
                <table
                    class="table table-primary"
                >
                    <thead>
                        <tr>
                            <th scope="col">NOMBRE</th>
                            <th scope="col">APELLIDO</th>
                            <th scope="col">CORREO</th>
                            <th scope="col">TELEFONO</th>
                            <th scope="col">DIRECCION</th>
                            <th scope="col">ACCIONES</th>
                        </tr>
                        
                    </thead>
                    {% for cliente in clientes %}
                        
                    
                    <tbody>
                            <td scope="row">{{ cliente.nombre }}</td>
                            <td>{{ cliente.apellido }}</td>
                            <td>{{ cliente.correo }}</td>
                            <td>{{ cliente.telefono }}</td>
                            <td>{{ cliente.direccion }}</td>
                            <td><button><a href="{{cliente.id}}/editar">editar</a></button><button><a href="{{cliente.id}}/eliminar">eliminar</a></button></td>
                    </tbody>
                    {% endfor %}
                </table>
            </div>
            
        </nav>
    </header>
<body>
    
</body>
{% endblock %}